/*
	Theme: Afri Consult Tender Group;
	Author: Michael Chan;
	Date of Creation: Wed, June 11, 2025;
	Colors: Flat UI, British Palette; 
*/

/* all pages */
	*
	{
		font-family: Verdana, sans-serif;
		font-size: 13px;
	}

	html, body
	{
		scroll-behavior: smooth;
		box-sizing: border-box;
	}
/* all pages end */

/* header */
	.header-cover
	{
		position: fixed;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: rgba(0, 0, 0, 0.5); /* #005a5c */
		width: 100%;
		color: white;
	}

	header
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header .logo img
	{
		height: 84px;
		width: 134px;
		object-fit: cover;
	}

	header .navbar a
	{
		text-decoration: none;
		color: white;
		margin-right: 50px;
		font-weight: 500;
	}

	header .navbar a:hover
	{
		border-bottom: 3px solid white;
	}

	.checkbtn
	{
		color: white;
		cursor: pointer;
		display: none;
	}

	.checkbtn i
	{
		font-size: 30px;
	}

	#check
	{
		display: none;
	}
/* header ends */

/* reviews */
	.reviews
	{
		padding: 50px;
		background-color: #005a5c;
		color: white;
	}

	.reviews .container
	{
		margin-top: 100px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.review-box
	{
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.review-box span
	{
		font-size: 2.5rem;
		font-weight: 800;
	}

	.review-box .review-text
	{
		font-size: 1.5rem;
	}
/* reviews end */

/* services */
	.services
	{
		padding: 50px;
		background-color: #f2f2f2;
	}

	.section-title
	{
		text-align: center;
		font-size: 1.5rem;
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.service-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.service-box
	{
		display: flex;
		align-items: center;
	}
/* services end */

/* tenders */
	#tenders
	{
		scroll-margin-top: 80px;
	}

	.tenders
	{
		padding: 50px;
		background-color: #005a5c; 
		color: white;
	}

	.tender-container
	{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px;
	}

	.tender-container a
	{
		text-decoration: none;
		color: black;
	}

	.tender-container a:hover
	{
		color: #005a5c;
	}

	.tender-box
	{
		background-color: white;
		border-radius: 13px;
		padding: 15px 15px;
		text-align: center;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}
/* tenders end */

/* categories */
	.categories
	{
		padding: 50px;
	}

	.category-container
	{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px;
	}

	.category-box
	{
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.category-box p
	{
		margin-top: 10px;
	}
/* categories end */

/* east africa */
	#east
	{
		scroll-margin-top: 80px;
	}

	.east-africa
	{
		padding: 50px;
		background-color: #005a5c;
		color: white;
	}

	.east-africa p
	{
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	}
/* east africa ends */

/* team */
	#team
	{
		scroll-margin-top: 80px;
	}

	.team
	{
		padding: 50px;
		background-color: #ececec;
	}

	.team-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.team-box
	{
		width: 100%;
	}

	.team-box-img
	{
		width: 100%;
	}

	.team-box-img img
	{
		width: 100%;
		height: 350px;
		object-fit: cover;
		border-radius: 13px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.team-box-desc
	{
		text-align: center;
		padding: 20px 20px;
	}

	.team-box-desc .member-name
	{
		font-size: 15px;
	}

	.team-box-desc .member-title
	{
		background-color: #005a5c;
		font-size: 15px;
		border-radius: 5px;
		padding: 5px 10px;
		color: white;
	}

	.team-box-desc .member-email
	{
		color: #555;
	}
/* team ends */

/* active tenders */
	#activeTenders
	{
		scroll-margin-top: 80px;
	}

	.active-tenders
	{
		padding: 50px;
	}

	.active-tender-container
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 50px;
	}

	.active-title
	{
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.active-tender-box
	{
		border: 3px solid #005a5c;
		border-radius: 13px;
		padding: 20px 20px;
	}

	.active-tender-box ol
	{
		list-style-type: lower-alpha;
	}
/* active tenders end */

/* footer */
	#contact
	{
		scroll-margin-top: 80px;
	}

	.footer-cover
	{
		padding: 50px;
		background-color: #005a5c;
		color: white;
	}

	.footer-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.footer-box p
	{
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	}

	.footer-title
	{
		font-size: 1.5rem;
		font-weight: 800;
		text-transform: uppercase;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
		margin-bottom: 20px;
	}

	footer p
	{
		text-align: center;
		padding: 10px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	}

	.up
	{
		position: fixed;
		width: 50px;
		border-radius: 50%;
		right: 0;
		top: 80%;
		margin-right: 30px;
		height: 50px;
		z-index: 4;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	}

	.footer-box iframe
	{
		width: 400px;
		height: 200px;
	}
/* footer ends */

/* about page */
	.about
	{
		padding: 50px;
	}

	.about .container .back
	{
		margin-top: 60px;
	}

	.back
	{
		border-radius: 50%;
		object-fit: cover;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	}
/* about page ends */

/* page responsiveness */
	@media (max-width: 768px)
	{
		/* header */
			.checkbtn
			{
				display: block;
				order: 1;
			}

			header .navbar
			{
				position: fixed;
				top: 120px;
				right: -100%;
				width: 30%;
				height: 50vh;
				display: flex;
				flex-direction: column;
				background-color: rgba(0, 0, 0, 0.5);
				justify-content: center;
				align-items: flex-end;
				padding-right: 30px;
			}

			header .navbar a
			{
				margin: 10px 0;
			}

			#check:checked ~ .navbar
			{
				right: 0;
			}
		/* header ends */

		/* reviews */
			.reviews
			{
				padding: 20px;
			}

			.reviews .container
			{
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}

			.review-box span
			{
				font-size: 2rem;
				font-weight: 500;
			}

			.review-box .review-text
			{
				font-size: 1rem;
			}
		/* reviews end */

		/* services */
			.services
			{
				padding: 20px;
			}

			.section-title
			{
				text-align: center;
				font-size: 1.5rem;
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			.service-container
			{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
			}

			.service-box img
			{
				width: 50px;
				height: 50px;
				object-fit: cover;
			}
		/* services end */

		/* tenders */
			.tenders
			{
				padding: 20px;
			}

			.tender-container
			{
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}
		/* tenders end */

		/* categories */
			.categories
			{
				padding: 20px;
			}

			.category-container
			{
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 20px;
			}
		/* categories end */

		/* east africa */
			.east-africa
			{
				padding: 20px;
			}
		/* east africa ends */

		/* team */
			.team
			{
				padding: 20px;
			}

			.team-container
			{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
			}
		/* team ends */

		/* active tenders */
			.active-tenders
			{
				padding: 20px;
			}

			.active-tender-container
			{
				grid-gap: 20px;
			}
		/* active tenders end */

		/* footer */
			.footer-cover
			{
				padding: 20px;
			}

			.footer-container
			{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
			}

			.footer-box iframe
			{
				width: 300px;
				height: 200px;
			}
		/* footer ends */

		/* about page */
			.about
			{
				padding: 20px;
			}

			.about .container .back
			{
				margin-top: 75px;
			}

			.back
			{
				height: 35px;
				width: 35px;
			}
		/* about page ends */
	}

	@media (max-width: 425px)
	{
		/* header */
			.checkbtn
			{
				margin-right: 20px;
			}

			.checkbtn i
			{
				font-size: 25px;
			}

			header .navbar
			{
				width: 50%;
			}
		/* header ends */

		/* reviews */
			.reviews .container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* reviews end */

		/* services */
			.service-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* services end */

		/* tenders */
			.tender-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* tenders end */

		/* categories */
			.category-container
			{
				grid-template-columns: repeat(2, 1fr);
			}
		/* categories end */

		/* team */
			.team-container
			{
				grid-template-columns: repeat(1, 1fr);
			}

			.team-box-img img
			{
				height: 300px;
			}
		/* team ends */

		/* active tenders */
			.active-tender-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* active tenders end */

		/* footer */
			.footer-container
			{
				grid-template-columns: repeat(1, 1fr);
			}

			.footer-box iframe
			{
				width: 350px;
				height: 200px;
			}

			.up
			{
				width: 35px;
				height: 35px;
			}
		/* footer ends */
	}

	@media (max-width: 320px)
	{
		/* categories */
			.category-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* categories end */

		/* footer */
			.footer-box iframe
			{
				width: 250px;
				height: 200px;
			}
		/* footer ends */
	}
/* page responsiveness ends */