/*
	Theme: Afri Consult Tender Group;
	Author: Michael Chan;
	Date of Creation: Wed, June 11, 2025;
	Colors: Flat UI, British Palette; 
*/

/* css for all pages */
	*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container
    {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    body
    {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: #f5f6fa;
        color: #1e272e;
    }

    html
    {
        scroll-behavior: smooth;
    }

    p
    {
        max-width: 1000px;
        text-align: left;
        margin: 10px auto;
        line-height: 1.6;
    }
/* css for all pages ends */

/* header */
	.header
	{
		background-color: #1e272e;
		position: fixed;
		width: 100%;
		color: #f5f6fa;
		z-index: 1000;
	}

	header
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header a
    {
        text-decoration: none;
        color: inherit;
    }

	header a .logo
	{
		height: 80px;
		display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 0;
	}

	.logo-text
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	header a .logo img
    {
        height: 60px;
    }

    header a .logo .logo-text h1
	{
	    font-size: 1rem;
	    font-weight: 600;
	    margin: 0; 
	    line-height: 1.2;
	}

	/* css for menu */
		header .navbar a
		{
			text-decoration: none;
			color: #f5f6fa;

			font-size: 0.9rem;
			font-weight: 600;
			width: fit-content;
			margin-right: 30px;
			padding: 5px 0;

			border-bottom: 3px solid transparent;
			transition: border-bottom 0.3s ease, color 0.3s ease;
		}

		header .navbar a:hover
		{
			border-bottom: 3px solid #f5f6fa;
		}
	/* css for menu ends */

	/* css for hamburger */
		.checkbtn
        {
            color: #f5f6fa;
            cursor: pointer;
            display: none;
        }

        .checkbtn i
        {
            font-size: 30px;
        }

        #check
        {
            display: none;
        }
	/* css for hamburger ends */
/* header ends */

/* reviews */
	.reviews
	{
		padding: 50px 0;
		background-color: #005a5c;
		color: #f5f6fa;
		min-height: 30vh;
	}

	.reviews .container
	{
		margin-top: 70px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.review-box
	{
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.review-box span
	{
		font-size: 2rem;
		font-weight: 600;
	}

	.review-box .review-text
	{
		font-size: 1.4rem;
	}
/* reviews end */

/* services */
	.services
	{
		padding: 50px 0;
	}

	.section-title
	{
		text-align: center;
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.service-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	.service-box
	{
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.service-box img
	{
		width: 60px;
		height: 60px;
		object-fit: cover;
	}

	.service-box p
	{
		margin: 0;
	}
/* services end */

/* tenders */
	.tenders
	{
		background-color: #005a5c;
		color: #f5f6fa;
		padding: 50px 0;
		scroll-margin-top: 60px;
	}

	.tender-container
	{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px;
	}

	.tender-container a
	{
		text-decoration: none;
		color: #1e272e;
		font-size: 0.9rem;
		font-weight: 600;
	}

	.tender-container a:hover
	{
		color: #005a5c;
	}

	.tender-box
	{
		background-color: #f5f6fa;
		border-radius: 30px;
		border: 3px solid gray;
		padding: 10px 20px;
		text-align: center;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}
/* tenders end */

/* categories */
	.categories
	{
		padding: 50px 0;
		color: #1e272e;
	}

	.category-container
	{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 50px;
	}

	.category-box
	{
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.category-box img
	{
		width: 40px;
		height: 40px;
		object-fit: cover;
	}

	.category-box p
	{
		margin: 0;
	}
/* categories end */

/* east africa */
	.east-africa
	{
		padding: 50px 0;
		background-color: #005a5c;
		color: #f5f6fa;
	}
/* east africa ends */

/* team */
	.team
	{
	    padding: 50px 0;
	    background-color: #ececec;
	    scroll-margin-top: 60px;
	}

	.team-container
	{
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-gap: 50px;
	}

	.team-box
	{
	    width: 100%;
	}

	.team-box-img
	{
	    width: 100%;
	}

	.team-box-img img
	{
	    width: 100%;
	    height: 350px;
	    object-fit: cover;
	    border-radius: 13px;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.team-box-desc
	{
	    /* This centers the member-name and member-email text */
	    text-align: center; 
	    padding: 20px;
	}

	.team-box-desc .member-name
	{
	    font-size: 16px;
	    font-weight: 600;
	    text-transform: uppercase;
	    text-align: center;
	}

	.team-box-desc .member-title
	{
		background-color: #005a5c;
		font-size: 15px;
		border-radius: 30px;
		padding: 10px 20px;
		color: white;
		text-align: center;
	}

	.team-box-desc .member-email
	{
	    color: #555;
	}
/* team ends */

/* active tenders */
	.active-tenders
	{
		padding: 50px 0;
		scroll-margin-top: 60px;
	}

	.active-tender-container
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 50px;
	}

	.active-title
	{
		font-size: 1.4rem;
		font-weight: 600;
		margin-bottom: 20px;
	}

	.active-tender-box
	{
		border: 3px solid #005a5c;
		border-radius: 13px;
		padding: 20px;
	}

	.active-tender-box ol
	{
	    list-style-type: lower-alpha;
	    margin-top: 0; 
	    margin-bottom: 0;
	    margin-left: 20px; 
	    list-style-position: outside; 
	    padding-left: 0; 
	}
	
	.active-tender-box ol li 
	{
	    margin-bottom: 5px; 
	}
/* active tenders end */

/* footer */
	.footer
	{
		padding: 50px;
		background-color: #005a5c;
		color: #f5f6fa;
	}

	.footer-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
	}

	footer p
    {
        text-align: center;
    }

	.go-up
    {
        position: fixed;
        right: 0;
        top: 84%;
        margin-right: 28px;
        z-index: 3;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        cursor: pointer;

        /* hidden by default */
        display: none;
    }

	.footer .container hr
    {
        color: #f5f6fa;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 0;
        border-top: 1px solid #f5f6fa;
        opacity: 0.5;
    }
/* footer ends */

/* about page */
	.about
	{
		padding: 110px 0 50px;
	}

	.page-title
	{
		text-align: center;
        font-size: 1.4rem;
        font-weight: 900;
        color: #005a5c;
        margin-bottom: 10px;
	}
/* about page ends */

/* contact page */
	.contact
	{
		padding: 110px 0 50px;
	}

	.form-container
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }

    .form-box
    {
        width: 100%;
        padding: 20px;
    }

    .form-responsive
    {
        padding: 10px 15px;
        border: 3px solid #005a5c;
        border-radius: 13px;
        width: 100%;
        margin-top: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
    }

    .form-responsive:focus
    {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    }

    .form-box .ta
    {
        border: 3px solid #005a5c;
        border-radius: 13px;
        margin-top: 5px;
        width: 100%;
        padding: 10px 15px;
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
    }

    .form-box .ta:focus
    {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    }

    .contact-btn
    {
        background-color: #005a5c;
        color: #f5f6fa;
        padding: 10px 20px;
        border: 3px solid #005a5c;
        border-radius: 20px;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        cursor: pointer;

        display: block;
        width: fit-content;
        text-align: center;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .contact-btn:hover
    {
        transform: translateY(-2px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
        background-color: #0a3d62;
        color: #fff;
    }

    .contact-btn:active 
    {
        transform: translateY(1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
/* contact page ends */

/* tender page */
	.tender-page
	{
		padding: 120px 0 50px;
		min-height: 70vh;	
	}

	.back-btn
	{
		text-decoration: none;
		color: #f7f1e3;
		background-color: gray;
		padding: 5px 10px;
        border: 3px solid gray;
        border-radius: 13px;
        font-weight: 700;
        letter-spacing: 1.5px;

        text-align: center;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        margin-left: 80px;
	}

	.back-btn:hover
	{
		transform: translateY(-2px);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
        background-color: darkslategray;
        color: #fff;
	}
/* tender page ends */

/* page responsiveness */
	@media(max-width: 768px)
	{
		/* header */
			.checkbtn
			{
				display: block;
				order: 1;
			}

			header .navbar
			{
				position: fixed;
				top: 120px;
				right: -100%;
				width: 60%;
				height: 40vh;
				display: flex;
				flex-direction: column;
				background-color: #1e272e;
				justify-content: center;
				align-items: flex-end;
				padding-right: 30px;
			}

			header .navbar a
			{
				margin: 10px 0;
			}

			#check:checked ~ .navbar
			{
				right: 0;
			}
		/* header ends */

		/* reviews */
			.reviews
			{
				padding: 20px 0;
			}

			.reviews .container
			{
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 20px;
			}
		/* reviews end */

		/* services */
			.services
			{
				padding: 20px 0;
			}

			.service-container
			{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
			}

			.service-box img
			{
				width: 50px;
				height: 50px;
				object-fit: cover;
			}
		/* services end */

		/* tenders */
			.tenders
			{
				padding: 20px 0;
			}

			.tender-container
			{
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}
		/* tenders end */

		/* categories */
			.categories
			{
				padding: 20px 0;
			}

			.category-container
			{
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 20px;
			}
		/* categories end */

		/* east africa */
			.east-africa
			{
				padding: 20px 0;
			}
		/* east africa ends */

		/* team */
			.team
			{
				padding: 20px 0;
			}

			.team-container
			{
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 20px;
			}

			.team-box-img img
			{
			    height: 250px;
			}
		/* team ends */

		/* active tenders */
			.active-tenders
			{
				padding: 20px 0;
			}

			.active-tender-container
			{
				grid-gap: 20px;
			}
		/* active tenders end */

		/* footer */
			.footer
			{
				padding: 20px 0;
			}

			.footer-container
			{
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 30px;
			}

			.footer-box iframe
			{
				width: 300px;
				height: 200px;
			}
		/* footer ends */

		/* contact page */
			.form-container
			{
				grid-template-columns: repeat(1, 1fr);
				grid-gap: 0px;
			}
		/* contact page ends */

		/* css for buttons */
			.back-btn
			{
		        margin-left: 0px;
			}
		/* css for buttons ends */
	}

	@media(max-width: 425px)
	{
		/* css for all pages */
			body
		    {
		        font-size: 0.8rem;
		    }
		/* css for all pages ends */

		/* header */
			header .navbar
			{
				width: 80%;
			}
		/* header ends */

		/* reviews */
			.review-box span
			{
				font-size: 1.6rem;
			}

			.review-box .review-text
			{
				font-size: 1.2rem;
			}
		/* reviews end */

		/* services */
			.service-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* services end */

		/* tenders */
			.tender-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* tenders end */

		/* categories */
			.category-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* categories end */

		/* team */
			.team-container
			{
				grid-template-columns: repeat(1, 1fr);
			}

			.team-box-img img
			{
				height: 300px;
			}
		/* team ends */

		/* active tenders */
			.active-tender-container
			{
				grid-template-columns: repeat(1, 1fr);
			}
		/* active tenders end */

		/* tender page */
			.tender-page
			{
				padding: 100px 0 50px;
			}
		/* tender page ends */

		/* footer */
			.footer-box iframe
			{
				width: 250px;
				height: 200px;
			}
		/* footer ends */

		/* btns */
			.back-btn
			{
				display: block;
				margin-bottom: 20px;
				margin-left: 0;
				width: fit-content;
			}
		/* btns end */
	}

	@media(max-width: 320px)
	{
		/* header */
			header .navbar
			{
				width: 100%;
			}
		/* header ends */

		/* team */
			.team-box-img img
			{
			    height: 200px;
			}
		/* team ends */
	}
/* page responsiveness ends */